{"files": {"info": "info.txt", "chatlog": "/var/www/hecklebot/chatlogbleh.txt", "log": "log.txt", "heckles": "heckles.txt"}, "heckleTimer": 7200, "bot": {"owner": "Numbuhfour", "nick": "Hecklebot", "streamer": "numbuhfour", "server": "irc.twitch.tv"}, "koth": {"king": "numbuhfour", "kothDelay": 300, "enabled": true, "fileName": "kothPraises.txt"}, "greet": {"greetNewFollower": true, "followerWelcomeMessage": "Ayyyy @user@, thanks for following!"}, "info":{ "fileName": "info.txt" }, "heckle": { "heckles":"heckles.txt","heckleTimer":2400 }, "money": { "fileName":"money.txt" }, "loyalty":{"moneyPerView":200, "fileName":"streamPaymentTracker.txt"} }