{"files": {"chatlog": "/var/www/hecklebot/chatlog.txt", "log": "log.txt"}, "info": {"fileName": "info.txt"}, "money": {"upvoteDelay": 20, "moneyPerVote": 1, "fileName": "money.txt"}, "bot": {"owner": "Numbuhfour", "nick": "Hecklebot", "streamer": "MisterAtomBomb", "server": "irc.twitch.tv"}, "loyalty": {"moneyPerView": 200, "fileName": "streamPaymentTracker.txt"}, "greet": {"greetNewFollower": true, "followerWelcomeMessage": "Ayyyy @user@, thanks for following!"}, "koth": {"king": "flykidd47", "kothDelay": 300, "enabled": true, "fileName": "kothPraises.txt"}, "heckle": {"heckleTimer": 2400, "heckles": "heckles.txt"}}