{"files": {"info": "info.txt", "chatlog": "/var/www/hecklebot/chatlog-branch.txt", "log": "log.txt", "heckles": "heckles.txt"}, "heckleTimer": 2400, "bot": {"owner": "Numbuhfour", "nick": "Hecklebot", "password": "oauth:igsxawqpsklid3ecclq7gmfgzrl9u4", "streamer": "numbuhfour", "server": "irc.twitch.tv"}, "koth": {"king": "numbuhfour", "kothDelay": 69, "enabled": true, "fileName": "kothPraises.txt"}, "greet": {"greetNewFollower": true, "followerWelcomeMessage": "Ayyyy @user@, thanks for following!"}, "info": {"fileName":"info.txt"} , "heckle": { "heckles":"heckles.txt", "heckleTimer":2400 } }